body {
    background-image: url('images/winner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: cursive;
    color: #7000;
    text-align: center;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    background-color: black;
}

.main {
    padding: 50px 100px;
    margin: 20px auto;
    background-color: rgb(20, 146, 219);
    border: 5px solid rgb(2, 2, 2);
    border-radius: 4px;
    cursor: pointer;
    font-size: 40px;
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main:hover {
    background-color: #937b11;
}